html,
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

#root {
  min-height: 100vh;
  max-height: 100vh;
}

.shader-canvas {
  min-height: 100vh;
  max-height: 100vh;
}

.sketch-canvas-container {
  min-height: 100vh;
  max-height: 100vh;
}
